.Profile-box {
  margin: 15px;
}

.Profile-pic {
  width: 200px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
}

.footer {
  width: 150px;
}

.btn {
  line-height: 30px;
  height: 30px;
  text-align: center;
  width: 120px;
  cursor: pointer;
}

.btn-custom {
  color: #00ADB5;
  transition: all 0.5s;
  position: relative;
}
.btn-custom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-custom:hover::before {
  opacity: 0;
  transform: scale(0.5,0.5);
  width: 50%;
}
.btn-custom::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
.btn-custom:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
