.App {
  text-align: center;
  background-color: #222831;
  color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container1 {
  display: flex;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, #00ADB5, rgb(228, 204, 148)) 1;
  border-radius: 12px;
  margin: 30px;
  height: 90%;
}

.Container2 {
  display: flex;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, #00ADB5, rgb(234, 51, 39)) 1;
  border-radius: 12px;
  margin: 30px;
  height: 90%;
}

.Container3 {
  display: flex;
  flex-direction: row;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, #00ADB5, rgb(135, 192, 176)) 1;
  border-radius: 12px;
  margin: 30px;
  height: 90%;
}


/* Color Palette */
/* #222831 background color
#393E46 similar to background, lighter
#00ADB5 links blue, details
#EEEEEE text, white */
