.App {
  text-align: center;
  background-color: #222831;
  color: #EEEEEE;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  display: flex;
  flex-direction: row;
  border: 2px solid #00ADB5;
  border-radius: 12px;
  margin: 30px;
}

/* Color Palette */
/* #222831 background color
#393E46 similar to background, lighter
#00ADB5 links blue, details
#EEEEEE text, white */
